{% comment %}
  Welcome to Shopify theme development!
{% endcomment %}

<div class="header-display container">
  <div class="welcome-content">
    <div class="header-text-wrapper">
      <h1 class="header-text">Beauty <br> at your <span>Fingertips</span></h1>

      <p class="header-description">
        Salon-level nails at home. Zero hassle, full glam.
      </p>

    </div>
    <div class="header-button">
      <div class="button-wrapper">
        <a href="/collections/all" class="button ">
        View Collection
        </a>
        <a href="/collections/all" class="button button--secondary">
        Shop Now
      </a>
      </div>
    </div>
  </div>
</div>



{% schema %}
{
  "name": "Hello World",
  "class": "section section-display",
  "settings": [],
  "presets": [
    {
      "name": "Hello World Template",
      "category": "Demo"
    }
  ]
}
{% endschema %}
